        * {
            font-family: 'Montserrat';
        }
        nav a {
            text-decoration:none;
        }
        body {
            background-color: rgb(224, 218, 209);
            overflow-x: hidden;
        }

        .container {
            margin-top: 10pc;
            text-align: center;
        }

        .container h1 {
            font-size: 20px;
            font-weight: 900;
            color: black;
        }

        .product {
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.183);
            height: 305px;
            border-radius: 20px;
            position: relative;
            left: 15%;
            width: 70%;
            background-color: white;
        }

        .custom-file-upload {
                background-color: #d7171f;
                height: 45px;
                width: 50%;
                border-radius: 25px;
                border: none;
                color: white;
                font-weight: bolder;
                position: relative;
                top: 200px;
                cursor: pointer;
                padding: 12px 40px;
            }
        input[type="file"] {
                display: none;

            }

        span {
            color: #d7171f;
        }
        
       
        .small_logo img {
            width: 60%;
        }
        input[type="submit"]{
            cursor: pointer;
            font-weight: bolder;
            position: absolute;
            text-align: center;
            left: 40%;
            border: none;
            top: 250px;
            background-color: black;
            color: white;
            width: 20%;
            height: 30px;
            border-radius: 25px;
            padding: 0;
        }
        footer {
        margin: 0;
        width: 101.5%;
        left: -8px;
        position: relative;
            text-align: center;
            background-color: black;
            height: 37px;
        }
        .mb-4 a {
            padding-left: 10px;
        }
        .mb-4 a i {
            position: relative;
            left: -30px;
            color: #d7171f;
        }
        .mb-4 a i:hover {
            position: relative;
            left: -30px;
            font-size: 18px;
            color: #e24f54;
        }
        .mb-4 {
            top: 7px;
            position: relative;
        }
        .snippet {
            position: relative;
            top: 100px;
            left: 10%;
            width: 80%;
            margin-bottom: 6pc;
        }
        @media only screen and (max-width: 767px) {
            .snippet {
                position: relative;
                top: 50px;
                left: 10%;
                width: 80%;
                margin-bottom: 6pc;
            }
            .custom-file-upload {
                background-color: #d7171f;
                height: 45px;
                width: 50%;
                border-radius: 25px;
                border: none;
                color: white;
                font-weight: bolder;
                position: relative;
                top: 140px;
                cursor: pointer;
                padding: 12px 40px;
            }
            *{
            margin: 0;

            }
            .body {
                height: 25pc;
                width: 100%;
            }
            .container {
                margin-top: 5pc;
                text-align: center;
            }
            .product {
                position: relative;
                top: 25px;
                margin-bottom: 7pc;
            }
            body {
                background-color: rgb(224, 218, 209);
                height: 190px;
                overflow-x: scroll;

            }
            .small_logo img {
                position: absolute;
                left: 20%;
                top: 30px;
                width: 60%;
            }
            input[type="submit"], .input{
                cursor: pointer;
                font-weight: bolder;
                position: absolute;
                text-align: center;
                left: 30%;
                border: none;
                top: 250px;
                background-color: black;
                color: white;
                width: 43%;
                height: 30px;
                border-radius: 25px;
                padding: 0;
            }
            footer {
            width: 100%;
            left: .1%;
            position: relative;
                /* top: 25%; */
                text-align: center;
                background-color: black;
                height: 37px;
            }
            .mb-4 a {
                padding-left: 10px;
            }
            .mb-4 a i {
                position: relative;
                left: -1px;
                color: #d7171f;
            }
           
            .mb-4 {
                top: 7px;
                position: relative;
            }
            nav {
                z-index: 12;
                width: 100%;
                background-color: black;
                position: fixed;
                height: 60px;
                left: 0px;
                top: 0px;
            }

            .logo {
                position: absolute;
                top: 15px;
                left: 32%;
                z-index: 999;
                font-style: normal;
                font-weight: 700;
                color: white;
                font-size: 18px;
                line-height: 29px;
            }

            .burger {
                display: block;
                height: 30px;
                z-index: 20;
                padding: 12px;
                font-size: 30px;
                position: relative;
                width: 10px;
                color: white;
            }

            .clipped {
                transition-timing-function: ease-in-out;
                transition: 0.4s all;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            nav ul {
                position: absolute;
                background-color: black;
                left: 0;
                padding-top: 50px;
                z-index: 2;
                top: -10px;
                border-radius: 0px 10px 10px 0px;
                right: 0;
                height: 60pc;
                width: 100%;
                transition: .5s all;
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }

            li {
                background-color: white;
                display: block;
                padding: 10px;
                font-weight: bolder;
                text-align: center;
                margin-top: 5px;
                top: 20px;
                left: -10px;
                color: black;
                position: relative;
            }

            .container h1 {
                font-size: 20px;
            }
            nav ul a:nth-child(1) li {
                position: relative;
                top: -2px;
                color: white;
                background-color:#d7171f;
                font-size: 20px;
            }
            li {
                top: 1px;
                left: -40px;
                position: relative;
            }

            a {
                color: white;
                text-decoration: none;
            }
            


        }

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            .snippet {
                position: relative;
                top: 60px;
                left: 10%;
                width: 80%;
                margin-bottom: 67pc;
            }
            *{
                margin: 0;
            }
            
            input[type="submit"]:hover{
                position: absolute;
                left: 39.6%;
    
                width: 21%;
                height: 31px;
            }
            a {
                color: white;
                text-decoration: none;
            }

            nav {
                z-index: 12;
                width: 100%;
                background-color: black;
                position: fixed;
                height: 60px;
                left: 0px;
                top: 0px;
            }

            .logo {
                position: absolute;
                top: 14px;
                z-index: 20;
                left: 105px;
                font-style: normal;
                font-weight: 700;
                color: white;
                font-size: 20px;
                line-height: 29px;
                overflow: hidden;
            }
            .custom-file-upload {
                background-color: #d7171f;
                height: 45px;
                width: 50%;
                border-radius: 25px;
                border: none;
                color: white;
                font-weight: bolder;
                position: relative;
                top: 50px;
                cursor: pointer;
                padding: 12px 40px;
            }
            input[type="submit"], .input{
                cursor: pointer;
                font-weight: bolder;
                position: absolute;
                text-align: center;
                left: 35%;
                border: none;
                top: 250px;
                background-color: black;
                color: white;
                width: 30%;
                height: 35px;
                border-radius: 25px;
                padding: 0;
            }
            footer {
                margin-top: 51pc;
                width: 101%;
            /* left: -1%; */
            position: relative;
                text-align: center;
                background-color: black;
                height: 37px;
            }

            #nav-logo {
                width: 73%;
                text-align: center;
            }

            #nav-logo h2 {
                overflow: hidden;
            }

            .burger {
                display: block;
                height: 30px;
                z-index: 20;
                left: 20px;
                padding: 12px;
                font-size: 30px;
                position: relative;
                width: 10px;
                color: white;
            }

            .clipped {
                transition-timing-function: ease-in-out;
                transition: 0.4s all;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            nav ul {
                position: absolute;
                background-color: black;
                left: 0;
                padding-top: 50px;
                z-index: 2;
                top: -10px;
                border-radius: 0px 10px 10px 0px;
                right: 0;
                height: 60pc;
                width: 100%;
                padding-left: 10px;
                /* text-align: center; */
                transition: .5s all;
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            }
            li {
                background-color: white;
                display: block;
                padding: 10px;
                font-weight: bolder;
                text-align: center;
                margin-top: 5px;
                top: 20px;
                left: -10px;
                color: black;
                position: relative;
            }
            .product {
                margin-top: 50px;
            }
            .container h1 {
                font-size: 40px;
            }
            nav ul a:nth-child(1) li {
                position: relative;
                top: -2px;
                color: white;
                background-color: #d7171f;
                font-size: 20px;
            }
            

        }

        @media only screen and (min-width: 1024px) {
            
            .snippet {
                position: relative;
                top: 50px;
                left: 10%;
                width: 80%;
            }

            input[type="submit"]:hover{
                position: absolute;
                left: 39.6%;
                width: 21%;
                height: 31px;
            }
            .burger {
                display: none;
            }

            html {
                scroll-behavior: smooth;
            }

            nav {
                z-index: 12;
                width: 100%;
                background-color: black;
                position: fixed;
                height: 60px;
                left: 0px;
                top: 0px;
            }

            li {
                color: white;
                text-decoration: none;
            }

            ul li:hover {
                color: rgba(167, 145, 145, 0.867);
            }



            .logo {
                position: absolute;
                top: -10px;
                left: 61px;
                height: 50px;
                z-index: 9999;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
            }

            .logo h2 {
                color: white;
                z-index: 9999;


            }

            nav ul {
                position: relative;
                top: 12px;
                left: 5%;
            }

            nav ul li {
                font-weight: bolder;
                position: absolute;
                display: inline;
                cursor: pointer;
                padding: 40px;
                padding-left: 180px;
                top: -12px;
                position: relative;
                left: 23%;
            }

            .container {
                margin-top: 9pc;
                text-align: center;
            }

            .container h1 {
                font-size: 45px;
                font-weight: 900;
                color: black;
            }

            .product {
                box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.183);
                height: 305px;
                border-radius: 20px;
                position: relative;
                left: 28%;
                width: 40%;
                background-color: white;
            }
            

            .custom-file-upload {
                background-color: #d7171f;
                height: 45px;
                width: 50%;
                border-radius: 25px;
                border: none;
                color: white;
                font-weight: bolder;
                position: relative;
                top: 50px;
                cursor: pointer;
                padding: 12px 40px;
            }
            input[type="file"] {
                display: none;

            }
            
            nav ul li:nth-child(1) {
                position: relative;
                top: -9px;
                color: #d7171f;
                font-size: 20px;
            }
            input[type="submit"], .input{
                cursor: pointer;
                font-weight: bolder;
                position: absolute;
                text-align: center;
                left: 40%;
                border: none;
                top: 250px;
                background-color: black;
                color: white;
                width: 20%;
                height: 30px;
                border-radius: 25px;
                padding: 0;
            }
            input[type="submit"]:hover{
                position: absolute;
                left: 39.6%;

                width: 21%;
                height: 31px;

                

            }
            .small_logo img {
                width: 60%;
            }
            footer {
            margin: 0;
            width: 101.5%;
            left: -8px;
            position: relative;
                bottom: -87px;
                text-align: center;
                background-color: black;
                height: 37px;
            }
            .mb-4 a {
                padding-left: 10px;
            }
            .mb-4 a i {
                position: relative;
                left: -30px;
                color: #d7171f;
            }
            .mb-4 a i:hover {
                position: relative;
                left: -30px;
                font-size: 18px;
                color: #e24f54;
            }
            .mb-4 {
                top: 7px;
                position: relative;
            }

        }
            

            /* Hide the actual file input */
            
